@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

img {
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border: none;
}

.hidden {
  display: none;
}

.small-text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: white;
}

.menu-text {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}

body {
  background-color: #191B20;
}

.movie-popup {
  width: 742px;
  height: 526px;
  background-color: black;
}
.movie-popup .close-button {
  position: relative;
  top: 11px;
  left: 14px;
  width: 16px;
  height: 16px;
}
.movie-popup .movie-popup-container {
  margin-left: 74px;
  margin-top: 63px;
  display: grid;
  gap: 58px;
  grid-template-columns: 234px 292px;
  grid-template-rows: 1fr;
}
.movie-popup .movie-popup-container .movie-poster {
  width: 234px;
  height: 351px;
  border: 1px solid white;
}
.movie-popup .movie-popup-container .movie-popup-container-container {
  grid-column: 2/2;
  grid-row: 1/1;
  display: grid;
  grid-template-rows: auto 17px 21px 21px 17px auto 13px auto 33px auto;
  padding-bottom: 10px;
}
.movie-popup .movie-popup-container .movie-popup-container-container .title {
  grid-row: 1/1;
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #CC0000;
}
.movie-popup .movie-popup-container .movie-popup-container-container .year {
  grid-row: 2/2;
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}
.movie-popup .movie-popup-container .movie-popup-container-container .score {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  color: #CC0000;
  grid-row: 4/4;
  display: flex;
  align-items: center;
  justify-content: left;
}
.movie-popup .movie-popup-container .movie-popup-container-container .score img {
  width: 21px;
  height: 21px;
}
.movie-popup .movie-popup-container .movie-popup-container-container .genres {
  grid-row: 6/6;
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #E9E9E9;
}
.movie-popup .movie-popup-container .movie-popup-container-container .synopsis {
  grid-row: 8/8;
  font-family: Inria Sans;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}
.movie-popup .movie-popup-container .movie-popup-container-container .cast-container {
  grid-row: 10/10;
  display: grid;
  gap: 15px;
  grid-template-columns: 39px 244px;
}
.movie-popup .movie-popup-container .movie-popup-container-container .cast-container span {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #E9E9E9;
}
.movie-popup .movie-popup-container .movie-popup-container-container .cast-container p {
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #E9E9E9;
}

@media screen and (max-width: 710px) {
  .movie-popup {
    height: 950px;
  }
  .movie-popup .movie-popup-container {
    margin-left: 37px;
  }
  .movie-popup .movie-popup-container .movie-popup-container-container {
    grid-row: 2/2;
    grid-column: 1/1;
  }
}
.movie-popup {
  width: 710px;
  position: fixed;
  left: 50%;
  top: 2.5%;
  transform: translate(-50%, 0);
  z-index: 10;
  overflow-y: scroll;
}

@media screen and (max-width: 710px) {
  .movie-popup {
    width: 375px;
    left: 0%;
    transform: none;
  }
}
.register-login-popup {
  width: 410px;
  position: fixed;
  left: 50%;
  top: 2.5%;
  transform: translate(-50%, 0);
  z-index: 10;
}

@media screen and (max-width: 750px) {
  .register-login-popup {
    left: 5%;
    transform: none;
  }
}
@media screen and (max-width: 450px) {
  .register-login-popup {
    left: 0%;
    transform: none;
  }
}
.login-popup {
  max-width: 410px;
  height: 608px;
  background-color: black;
}
.login-popup a:hover {
  opacity: 0.7;
}
.login-popup a {
  color: #CC0000;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.login-popup img {
  position: relative;
  top: 11px;
  left: 14px;
  width: 16px;
  height: 16px;
}
.login-popup .popup-container {
  margin-top: 50px;
  margin-left: 14.87804878%;
  display: grid;
  grid-template-rows: 54px 54px 44px 25px 44px 22px 18px 48px 47px 30px 19px 19px 19px;
}
.login-popup .popup-container .switch-buttons {
  grid-row: 1/1;
  display: flex;
  width: 288px;
  height: 54px;
  font-family: Inria Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}
.login-popup .popup-container .switch-buttons div {
  background-color: black;
  width: 144px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.login-popup .popup-container .switch-buttons .signup-switch-button {
  border-left: 1px solid white;
  border-radius: 8px 0px 0px 8px;
}
.login-popup .popup-container .switch-buttons .login-switch-button {
  border-right: 1px solid white;
  border-radius: 0px 8px 8px 0px;
}
.login-popup .popup-container .switch-buttons .currently-in-use {
  border: none;
  border-bottom: 3px solid #CC0000;
  background-color: #CC0000;
}
.login-popup .popup-container input {
  grid-row: 3/3;
  width: 268px;
  height: 44px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  padding-left: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.login-popup .popup-container input::-moz-placeholder {
  color: black !important;
}
.login-popup .popup-container input::placeholder {
  color: black !important;
}
.login-popup .popup-container :-moz-placeholder {
  color: black !important;
}
.login-popup .popup-container ::-moz-placeholder {
  color: black !important;
}
.login-popup .popup-container .password {
  grid-row: 5/5;
}
.login-popup .popup-container .checkbox-container {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row: 7/7;
}
.login-popup .popup-container .checkbox-container input {
  width: 18px;
}
.login-popup .popup-container .checkbox-container span {
  color: white;
}
.login-popup .popup-container .login-button {
  grid-row: 9/9;
  width: 288px;
  height: 47px;
  border-radius: 8px;
  background-color: #CC0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-popup .popup-container .login-button span {
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}
.login-popup .popup-container a {
  grid-row: 11/11;
}
.login-popup .popup-container .not-member-yet {
  grid-row: 13/13;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
  color: white;
}

.register-popup {
  max-width: 410px;
  height: 608px;
  background-color: black;
}
.register-popup a:hover {
  opacity: 0.7;
}
.register-popup a {
  color: #CC0000;
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.register-popup img {
  position: relative;
  top: 11px;
  left: 14px;
  width: 16px;
  height: 16px;
}
.register-popup .popup-container {
  margin-top: 50px;
  margin-left: 14.87804878%;
  display: grid;
  grid-template-rows: 54px 54px 44px 25px 44px 25px 44px 25px 44px 25px 18px;
}
.register-popup .popup-container .switch-buttons {
  grid-row: 1/1;
  display: flex;
  width: 288px;
  height: 54px;
  font-family: Inria Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}
.register-popup .popup-container .switch-buttons div {
  background-color: black;
  width: 144px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.register-popup .popup-container .switch-buttons .signup-switch-button {
  border-left: 1px solid white;
  border-radius: 8px 0px 0px 8px;
}
.register-popup .popup-container .switch-buttons .login-switch-button {
  border-right: 1px solid white;
  border-radius: 0px 8px 8px 0px;
}
.register-popup .popup-container .switch-buttons .currently-in-use {
  border: none;
  border-bottom: 3px solid #CC0000;
  background-color: #CC0000;
}
.register-popup .popup-container input {
  grid-row: 3/3;
  width: 268px;
  height: 44px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  padding-left: 20px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  text-align: left;
}
.register-popup .popup-container input::-moz-placeholder {
  color: black !important;
}
.register-popup .popup-container input::placeholder {
  color: black !important;
}
.register-popup .popup-container :-moz-placeholder {
  color: black !important;
}
.register-popup .popup-container ::-moz-placeholder {
  color: black !important;
}
.register-popup .popup-container .email {
  grid-row: 5/5;
  grid-column: 1/1;
}
.register-popup .popup-container .password {
  grid-row: 7/7;
}
.register-popup .popup-container .passwordconf {
  grid-row: 9/9;
}
.register-popup .popup-container .signup-button {
  grid-row: 11/11;
  width: 288px;
  height: 47px;
  border-radius: 8px;
  background-color: #CC0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-popup .popup-container .signup-button span {
  font-family: Inria Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}

@media screen and (max-width: 410px) {
  .register-login-popup {
    width: 375px;
  }
  .register-login-popup .popup-container {
    margin-left: 11.6vw;
  }
}
header, main, footer {
  padding-left: 12.5%;
  padding-right: 12.5%;
}

header {
  background-color: #141517;
  height: 100px;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28.5px;
}
header .header-wrapper img {
  width: 163px;
  height: 43px;
}
header .header-wrapper .menu-wrapper .burger {
  display: none;
  width: 33px;
  position: relative;
  padding-left: 12.5vw;
  top: 10px;
  transition: left 0.5s;
  cursor: pointer;
}
header .header-wrapper .menu-wrapper .burger #burger-patty {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
}
header .header-wrapper .menu-wrapper .close-icon img {
  display: none;
  width: 50px !important;
  position: relative;
  left: 15.97vw;
  top: 10px;
  transition: left 0.5s;
  cursor: pointer;
}
header .header-wrapper .menu-wrapper ul {
  display: flex;
  background-color: #141517;
  border-radius: 20px;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2.15vw;
}
header .header-wrapper .menu-wrapper ul .menu-element a {
  text-transform: uppercase;
  text-decoration: none;
  color: white !important;
  transition: color 0.5s;
}
header .header-wrapper .menu-wrapper ul .menu-element a:hover {
  color: #CC0000 !important;
}

@media screen and (max-width: 1000px) {
  header {
    grid-template-columns: 163px 18.86vw 44.83vw;
  }
  header ul {
    gap: 3.71vw;
  }
}
@media screen and (max-width: 1100px) {
  header .header-wrapper .menu-wrapper .burger {
    display: block;
  }
  header .header-wrapper .menu-wrapper ul {
    background-color: #282e3f;
    display: none;
  }
}
main {
  display: grid;
  padding-top: 73px;
  gap: 72px;
  grid-template-rows: 44px 380px 519px;
}
main .search-box {
  padding: 0 25.555vw;
  cursor: pointer;
}
main .search-box .input-wrapper {
  display: flex;
}
main .search-box .input-wrapper input {
  max-width: 228px;
  min-width: 171px;
  width: 15.83vw;
  height: 38px;
  border-radius: 8px 0px 0px 8px;
  padding-left: 18px;
}
main .search-box .input-wrapper div {
  max-width: 44px;
  min-width: 33px;
  width: 3.06vw;
  height: 40px;
  border-radius: 0px 8px 8px 0px;
  background-color: #CC0000;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .search-box .input-wrapper div img {
  width: 20px;
}

@media screen and (min-width: 1440px) {
  main .search-box {
    padding: 0 calc(0.5 * (70vw - 228px - 44px));
  }
}
@media screen and (max-width: 1100px) {
  main .search-box {
    padding: 0 calc(0.5 * (70vw - 171px - 33px));
  }
}
@media screen and (max-width: 450px) {
  .reusable-swiper-container {
    width: 90vw;
    margin-left: -4.5vw;
  }
  .reusable-swiper-container .swiper {
    width: 86vw;
  }
}
.reusable-swiper-container {
  width: 100%;
  height: 380px;
  display: grid;
  gap: 10px;
  grid-template-rows: 19px 351px;
}
.reusable-swiper-container span {
  padding-left: 44px;
}

.swiper {
  width: 100%;
  overflow: visible;
  padding-left: 44px !important;
  padding-right: 44px !important;
  box-sizing: border-box;
}
.swiper .swiper-wrapper {
  max-width: 993px;
  height: 351px;
  box-sizing: border-box;
}
.swiper .swiper-wrapper .swiper-slide:hover .movie-poster {
  opacity: 0.4;
}
.swiper .swiper-wrapper .swiper-slide:hover .hover-preview {
  display: grid;
}
.swiper .swiper-wrapper .swiper-slide {
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.swiper .swiper-wrapper .swiper-slide .movie-poster {
  width: 100%;
  height: 351px;
  grid-column: 1/1;
  grid-row: 2/2;
}
.swiper .swiper-wrapper .swiper-slide .hover-preview {
  grid-row: 2/2;
  grid-column: 1/1;
  padding-top: 60px;
  width: 100%;
  z-index: 10;
  display: grid;
  display: none;
  grid-template-columns: auto 13.888888888vw auto;
  grid-template-rows: repeat(9, auto);
}
.swiper .swiper-wrapper .swiper-slide .hover-preview * {
  grid-column: 2/2;
  padding: 0;
}
.swiper .swiper-wrapper .swiper-slide .hover-preview .title {
  grid-row: 1/1;
  color: white;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
}
.swiper .swiper-wrapper .swiper-slide .hover-preview .year {
  grid-row: 3/3;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: center;
  color: #B0B0B0;
}
.swiper .swiper-wrapper .swiper-slide .hover-preview .genres {
  grid-row: 5/5;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: center;
  color: #B0B0B0;
}
.swiper .swiper-wrapper .swiper-slide .hover-preview img {
  grid-row: 7/7;
  width: 35px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
}
.swiper .swiper-wrapper .swiper-slide .hover-preview .score {
  grid-row: 9/9;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  text-align: center;
  color: #CC0000;
}
.swiper .swiper-button-prev {
  content: url(/img/previous-button.svg);
}
.swiper .swiper-button-next {
  content: url(/img/next-button.svg);
}
.swiper .backgroundArrowRight {
  position: absolute;
  right: 0;
  height: 100%;
  top: 0%;
  width: 42px;
  background-color: #191B20;
  z-index: 5;
}
.swiper .backgroundArrowLeft {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
  width: 42px;
  background-color: #191B20;
}
.swiper .swiper-button-prev {
  position: absolute;
  left: 0;
  top: 50%;
  background-image: url("./img/previous-button.svg");
  background-repeat: no-repeat;
  background-position: center left;
}
.swiper .swiper-button-next {
  position: absolute;
  right: 0;
  top: 50%;
  background-image: url("./img/next-button.svg");
  background-repeat: no-repeat;
  background-position: center left;
}
.swiper .swiper-button-next::after {
  display: none;
}
.swiper .swiper-button-prev::after {
  display: none;
}

.latest-container {
  margin-top: 23px;
}

.categories-container {
  width: 74.65vw;
  height: 519px;
  margin-top: 23px;
}
.categories-container .text-container .top-span {
  position: relative;
  left: calc(50% - 62.5px);
  width: 125px;
}
.categories-container .text-container .genres-container {
  position: relative;
  left: calc(50% - 20.73vw);
  margin-top: 46px;
  width: 41.46vw;
}
.categories-container .text-container .genres-container ul {
  width: 41.46vw;
  display: inline-grid !important;
  gap: 1.5vw;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
.categories-container .text-container .genres-container ul li {
  cursor: pointer;
}
.categories-container .text-container .genres-container ul li div:hover {
  opacity: 0.7;
  background-color: #141517;
}
.categories-container .text-container .genres-container ul li div {
  width: -moz-fit-content;
  width: fit-content;
  height: 33px;
  border-radius: 8px;
  background-color: #191B20;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
}
.categories-container .text-container .genres-container ul li div span {
  height: 19px;
  text-align: center;
}
.categories-container .text-container .genres-container ul li .selected:hover {
  opacity: 0.7;
  background-color: #CC0000;
}
.categories-container .text-container .genres-container ul li .selected {
  background-color: #CC0000;
}
.categories-container .text-container .genres-line {
  position: relative;
  margin-left: 29.2vw;
  width: 41.6vw;
  height: 0px;
  border: 1px solid #FFFFFF;
  background-color: white;
  margin: 0 auto;
  margin-top: 19px;
}
.categories-container .categories-swiper-container {
  margin-top: 29px;
}

@media screen and (max-width: 1439px) {
  .categories-container .text-container .genres-container ul {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 699px) {
  .categories-container .text-container .genres-container ul {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}
@media screen and (max-width: 475px) {
  .categories-container .text-container .genres-container {
    left: calc(50% - 30.73vw);
    width: 61.46vw;
  }
  .categories-container .text-container .genres-container ul {
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}
footer {
  background-color: #141517;
  height: 100px;
  margin-top: 109px;
}
footer .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28.5px;
  grid-template-columns: 163px 13.61vw 25.97vw 12.78vw;
  grid-template-rows: 33px 33px;
}
footer .footer-wrapper img {
  width: 163px;
  height: 43px;
}
footer .footer-wrapper ul {
  grid-column: 3/3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 50px);
  gap: 2.15vw;
}
footer .footer-wrapper ul .menu-element a {
  grid-row: 1/1;
  text-transform: uppercase;
  text-decoration: none;
  color: white !important;
  transition: color 0.5s;
}
footer .footer-wrapper ul .menu-element a:hover {
  color: #CC0000 !important;
}
footer .footer-wrapper div {
  grid-column: 5/6;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-wrapper div span {
  width: 161px;
  height: 17px;
  font-family: Inria Sans;
  font-size: 14px;
  font-weight: 300;
  line-height: 16.79px;
  text-align: left;
  color: #B8B8B8;
}

@media screen and (max-width: 700px) {
  footer {
    margin-top: 129px;
  }
}
@media screen and (max-width: 1000px) {
  footer .footer-wrapper {
    grid-template-columns: 163px 7.61vw 44.83vw;
  }
  footer ul {
    gap: 3.71vw;
  }
}
@media screen and (max-width: 950px) {
  footer .footer-wrapper {
    display: grid;
  }
  footer .footer-wrapper ul {
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-right: 100px;
  }
  footer .footer-wrapper div {
    grid-column: 1/1;
    grid-row: 2/3;
  }
}
.results-container {
  display: none;
}/*# sourceMappingURL=styles.css.map */