@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$background_dark: #141517;
$background_not_as_dark: #191B20;
$red: #CC0000;

/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    width: 100%;
}
img {
    width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
    border: none;
}

.hidden {
    display: none;
}

.small-text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: white;
}

.menu-text {
    font-family: Inria Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.79px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
}

body {
    background-color: $background_not_as_dark;
}

.movie-popup {
    width: 742px;
    height: 526px;
    background-color: black;
    .close-button {
        position: relative;
        top: 11px;
        left: 14px;
        width: 16px;
        height: 16px;
    }
    .movie-popup-container {
        margin-left: 74px;
        margin-top: 63px;
        display: grid;
        gap: 58px;
        grid-template-columns: 234px 292px;
        grid-template-rows: 1fr;
        .movie-poster {
            width: 234px;
            height: 351px;
            border: 1px solid white;
        }
        .movie-popup-container-container {
            grid-column: 2/2;
            grid-row: 1/1;
            display: grid;
            grid-template-rows: 24px 17px 21px 21px 17px 17px 13px 220px 33px 34px;
            .title {
                grid-row: 1/1;
                font-family: Inria Sans;
                font-size: 20px;
                font-weight: 700;
                line-height: 23.98px;
                letter-spacing: 0.03em;
                text-align: left;
                color: $red;
            }
            .year {
                grid-row: 2/2;
                font-family: Inria Sans;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.79px;
                letter-spacing: 0.03em;
                text-align: left;
                color: white;
            }
            .score {
                font-family: Inter;
                font-size: 20px;
                font-weight: 700;
                line-height: 24.2px;
                text-align: center;
                color: $red;
                grid-row: 4/4;
                display: flex;
                align-items: center;
                justify-content: left;
                img {
                    width: 21px;
                    height: 21px;
                }
            }
            .genres {
                grid-row: 6/6;
                font-family: Inria Sans;
                font-size: 14px;
                font-weight: 700;
                line-height: 16.79px;
                letter-spacing: 0.03em;
                text-align: left;
                color: #E9E9E9;
            }
            .synopsis {
                grid-row: 8/8;
                font-family: Inria Sans;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0.03em;
                text-align: left;
                color: white;
            }
            .cast-container {
                grid-row: 10/10;
                display: grid;
                gap: 15px;
                grid-template-columns: 39px 244px;
                span {
                    font-family: Inria Sans;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 16.79px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #E9E9E9;
                }
                p {
                    font-family: Inria Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 16.79px;
                    letter-spacing: 0.03em;
                    text-align: left;
                    color: #E9E9E9;
                }
            }
        }
    }
}


@media screen and (max-width: 710px) {
    .movie-popup {
        height: 950px;
        .movie-popup-container {
            margin-left: 37px;
            .movie-popup-container-container {
                grid-row: 2/2;
                grid-column: 1/1;
            }
        }
    }
}

.movie-popup {
    width: 710px;
    position: fixed;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%, 0);
    z-index: 10;
    overflow-y: scroll;
}



@media screen and (max-width: 710px) {
    .movie-popup {
        width: 375px;
        left: 0%;
        transform: none;
    }
}


.register-login-popup {
    width: 410px;
    position: fixed;
    left: 50%;
    top: 2.5%;
    transform: translate(-50%, 0);
    z-index: 10;
}

@media screen and (max-width: 750px) {
    .register-login-popup {
        left: 5%;
        transform: none;
    }
}

@media screen and (max-width: 450px) {
    .register-login-popup {
        left: 0%;
        transform: none;
    }
}

.login-popup {
    max-width: 410px;
    height: 608px;
    background-color: black;
    a:hover {
        opacity: 0.7;
    }
    a {
        color: $red;
        text-decoration: none;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: left;
    }
    img {
        position: relative;
        top: 11px;
        left: 14px;
        width: 16px;
        height: 16px;
    }
    .popup-container {
        margin-top: 50px;
        margin-left: 14.87804878%;
        display: grid;
        grid-template-rows: 54px 54px 44px 25px 44px 22px 18px 48px 47px 30px 19px 19px 19px;
        .switch-buttons {
            grid-row: 1/1;
            display: flex;
            width: 288px;
            height: 54px;
            font-family: Inria Sans;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.78px;
            letter-spacing: 0.03em;
            text-align: left;
            color: white;
            div {
                background-color: black;
                width: 144px;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
            }
            .signup-switch-button {
                border-left: 1px solid white;
                border-radius: 8px 0px 0px 8px;
            }
            .login-switch-button {
                border-right: 1px solid white;
                border-radius: 0px 8px 8px 0px;
            }
            .currently-in-use {
                border: none;
                border-bottom: 3px solid $red;
                background-color: #CC0000;
            }
        }
        input {
            grid-row: 3/3;
            width: 268px;
            height: 44px;
            gap: 0px;
            border-radius: 8px;
            opacity: 0px;
            padding-left: 20px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;
        }
        input::placeholder {
            color: black !important;
        }
    
        :-moz-placeholder {
            color: black !important;
        }
        ::-moz-placeholder {
            color: black !important;
        }
        .password {
            grid-row: 5/5;
        }
        .checkbox-container {
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input {
                width: 18px;
            }
            span {
                color: white;
            }
            grid-row: 7/7;
        }
        .login-button {
            grid-row: 9/9;
            width: 288px;
            height: 47px;
            border-radius: 8px;
            background-color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-family: Inria Sans;
                font-size: 20px;
                font-weight: 700;
                line-height: 23.98px;
                letter-spacing: 0.03em;
                text-align: left;
                color: white;
            }
        }
        a {
            grid-row: 11/11;
        }
        .not-member-yet {
            grid-row: 13/13;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;
            color: white;
        }
    }
}

.register-popup {
    max-width: 410px;
    height: 608px;
    background-color: black;
    a:hover {
        opacity: 0.7;
    }
    a {
        color: $red;
        text-decoration: none;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: left;
    }
    img {
        position: relative;
        top: 11px;
        left: 14px;
        width: 16px;
        height: 16px;
    }
    .popup-container {
        margin-top: 50px;
        margin-left: 14.87804878%;
        display: grid;
        grid-template-rows: 54px 54px 44px 25px 44px 25px 44px 25px 44px 25px 18px;
        .switch-buttons {
            grid-row: 1/1;
            display: flex;
            width: 288px;
            height: 54px;
            font-family: Inria Sans;
            font-size: 24px;
            font-weight: 700;
            line-height: 28.78px;
            letter-spacing: 0.03em;
            text-align: left;
            color: white;
            div {
                background-color: black;
                width: 144px;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: 1px solid white;
                border-bottom: 1px solid white;
            }
            .signup-switch-button {
                border-left: 1px solid white;
                border-radius: 8px 0px 0px 8px;
            }
            .login-switch-button {
                border-right: 1px solid white;
                border-radius: 0px 8px 8px 0px;
            }
            .currently-in-use {
                border: none;
                border-bottom: 3px solid $red;
                background-color: #CC0000;
            }
        }
        input {
            grid-row: 3/3;
            width: 268px;
            height: 44px;
            gap: 0px;
            border-radius: 8px;
            opacity: 0px;
            padding-left: 20px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            text-align: left;
        }
        input::placeholder {
            color: black !important;
        }
    
        :-moz-placeholder {
            color: black !important;
        }
        ::-moz-placeholder {
            color: black !important;
        }
        .email {
            grid-row: 5/5;
            grid-column: 1/1;
        }
        .password {
            grid-row: 7/7;
        }
        .passwordconf {
            grid-row: 9/9;
        }
        .signup-button {
            grid-row: 11/11;
            width: 288px;
            height: 47px;
            border-radius: 8px;
            background-color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                font-family: Inria Sans;
                font-size: 20px;
                font-weight: 700;
                line-height: 23.98px;
                letter-spacing: 0.03em;
                text-align: left;
                color: white;
            }
        }
    }
}
@media screen and (max-width: 410px) {
    .register-login-popup {
        width: 375px;
        .popup-container {
            margin-left: 11.6vw;
        }
    }
}


header, main, footer {
    padding-left: 12.5%;
    padding-right: 12.5%;
}

header {
    background-color: $background_dark;
    height: 100px;
    padding-top: 26px;
    .header-wrapper {
        display: grid;
        padding-right: 12.5%;
        grid-template-columns: 163px 37.71vw 25.97vw;
        img {
            width: 163px;
            height: 43px;
        }

        .menu-wrapper {
            grid-column: 3/3;
            .burger {
                display: none;
                width: 33px;
                position: relative;
                left: 15.97vw;
                top: 10px;
                transition: left 0.5s;
                #burger-patty
                {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: #cdcdcd;
                border-radius: 3px;
                z-index: 1;
                }
            }
            ul {
                margin-top: 16px;
                display: flex;
                gap: 2.15vw;
                .menu-element {
                    a {
                        text-transform: uppercase;
                        text-decoration: none;
                        color: white !important;
                        transition: color 0.5s;
                    }
                    a:hover {
                        color:$red !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        grid-template-columns: 163px 18.86vw 44.83vw;
        ul {
            gap: 3.71vw;
        }
    }
}

@media screen and (max-width: 1100px) {
    header {
        .header-wrapper {
            .menu-wrapper {
                .burger {
                    display: block;
                }
                ul {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    header {
        .header-wrapper {
            .menu-wrapper {
                .burger {
                    left: 10vw;
                }
            }
        }
    }
}

@media screen and (max-width: 530px) {
    header {
        .header-wrapper {
            .menu-wrapper {
                .burger {
                    left: -5vw;
                }
            }
        }
    }
}

main {
    display: grid;
    padding-top: 73px;
    gap: 72px;
    grid-template-rows: 44px 380px 380px 519px;
    .search-box {
        padding: 0 calc(0.5 * calc(70vw - 15.83vw - 3.06vw));
        .input-wrapper {
            display: flex;
            input {
                max-width: 228px;
                min-width: 171px;
                width: 15.83vw/*228px*/;
                height: 38px;
                border-radius: 8px 0px 0px 8px;
                padding-left: 18px;
            }
            div {
                max-width: 44px;
                min-width: 33px;
                width: 3.06vw/*44px*/;
                height: 40px;
                border-radius: 0px 8px 8px 0px;
                background-color: $red;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 20px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    main {
        .search-box {
            padding: 0 calc(0.5 * calc(70vw - 228px - 44px));
        }
    }
}

@media screen and (max-width: 1100px) {
    main {
        .search-box {
            padding: 0 calc(0.5 * calc(70vw - 171px - 33px));
        }
    }
}

@media screen and (max-width: 450px) {
    .reusable-swiper-container {
        width: 90vw;
        margin-left: -4.5vw;
    .swiper {
        width: 86vw;
    }
    }
}

.reusable-swiper-container {
    width: 74.65vw;
    height: 380px;
    display: grid;
    gap: 10px;
    grid-template-rows: 19px 351px;
    span {
        padding-left: 44px;
    }
}

.swiper {
    width: 74.65vw;
    height: 351px;
    .swiper-wrapper {
        padding-left: 44px;
        .swiper-slide:hover {
            .movie-poster {
                opacity: 0.4;
            }
            .hover-preview {
                display: grid;
            }
        }
        .swiper-slide {
            width: 234px;
            .movie-poster {
                width: 234px;
                height: 351px;
            }
            .hover-preview {
                position: relative;
                top: -279px;
                left: -23px;
                z-index: 10;
                display: grid;
                display: none;
                grid-template-columns: 1fr 200px 1fr;
                grid-template-rows: 46px 23px 23px 23px 23px 18px 34px 8px 39px;
                * {
                    grid-column: 2/2;
                }
                .title {
                    grid-row: 1/1;
                    color: white;
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24.2px;
                    text-align: center;
                }
                .year {
                    grid-row: 3/3;
                    font-family: Inter;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24.2px;
                    text-align: center;
                    color: #B0B0B0;
                }
                .genres {
                    grid-row: 5/5;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16.94px;
                    text-align: center;
                    color:#B0B0B0
                }
                img {
                    grid-row: 7/7;
                    width: 35px;
                    height: 34px;
                    margin-left: 104px;
                }
                .score {
                    grid-row: 9/9;
                    font-family: Inter;
                    font-size: 32px;
                    font-weight: 700;
                    line-height: 38.73px;
                    text-align: center;
                    color: $red;
                }
            }
        }
    }
    .swiper-button-prev {
        content: url(/img/previous-button.svg);
    }
    .swiper-button-next {
        content: url(/img/next-button.svg);
    }
}

.latest-container {
    margin-top: 23px;
}
.categories-container {
    width: 74.65vw;
    height: 519px;
    margin-top: 23px;
    .text-container {
        .top-span {
            position: relative;
            left: calc(50% - 62.5px);
            width: 125px;
        }
        .genres-container {
            position: relative;
            left: calc(50% - 20.73vw);
            margin-top: 46px;
            width: 41.46vw/*597px*/;
            ul {
                width: 41.46vw;
                display: inline-grid !important;
                gap: 1.5vw;
                grid-template-columns: auto auto auto auto auto auto;
                grid-template-rows: auto;
                li {
                    div:hover {
                        opacity: 0.7;
                        background-color: $background_dark;
                    }
                    div {
                        width: fit-content;
                        height: 33px;
                        border-radius: 8px;
                        background-color: $background_not_as_dark;
                        display: flex;
                        padding-left: 10px;
                        padding-right: 10px;
                        align-items: center;
                        justify-content: center;
                        span {
                            height: 19px;
                            text-align: center;
                        }
                    }
                    .selected:hover {
                        opacity: 0.7;
                        background-color: $red;
                    }
                    .selected {
                        background-color: $red;
                    }
                }
            }
        }

        .genres-line {
            position: relative;
            margin-left: calc(50vw - 20.8vw);
            width: 41.6vw;
            height: 0px;
            border: 1px solid #FFFFFF;
            background-color: white;
            margin: 0 auto;
            margin-top: 19px;
        }
    }
    .categories-swiper-container {
        margin-top: 29px;
    }
}

@media screen and (max-width: 1439px) {
    .categories-container {
        .text-container {
            .genres-container {
                ul {
                    grid-template-columns: auto auto auto;
                    grid-template-rows: auto auto;
                }
            }
        }
    }
}

@media screen and (max-width: 699px) {
    .categories-container {
        .text-container {
            .genres-container {
                ul {
                    grid-template-columns: auto auto;
                    grid-template-rows: auto auto auto;
                }
            }
        }
    }
}


@media screen and (max-width: 475px) {
    .categories-container {
        .text-container {
            .genres-container {
                left: calc(50% - 30.73vw);
                width: 61.46vw/*597px*/;
                ul {
                    width: 100%;
                    grid-template-columns: auto auto;
                    grid-template-rows: auto auto auto;
                }
            }
        }
    }
}


footer {
    background-color: $background_dark;
    height: 100px;
    padding-top: 26px;
    margin-top: 109px;
    .footer-wrapper {
        display: grid;
        padding-right: 12.5%;
        grid-template-columns: 163px 13.61vw 25.97vw 12.78vw;
        grid-template-rows: 33px 33px;
        img {
            width: 163px;
            height: 43px;
        }
        .burger {
            display: none;
            width: 33px;
            position: relative;
            left: 15.97vw;
            top: 10px;
            transition: left 0.5s;
            #burger-patty
            {
            display: block;
            width: 33px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #cdcdcd;
            border-radius: 3px;
            z-index: 1;
            }
        }
        ul {
            margin-top: 16px;
            grid-column: 3/3;
            display: flex;
            gap: 2.15vw;
            .menu-element {
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: white !important;
                    transition: color 0.5s;
                }
                a:hover {
                    color:$red !important;
                }
            }
        }
        div {
            grid-column: 5/6;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
            width: 161px;
            height: 17px;
            font-family: Inria Sans;
            font-size: 14px;
            font-weight: 300;
            line-height: 16.79px;
            text-align: left;
            color: #B8B8B8;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    footer {
        margin-top: 129px;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        grid-template-columns: 163px 13.61vw 44.83vw;
        ul {
            gap: 3.71vw;
        }
    }
}

@media screen and (max-width: 950px) {
    footer {
        .footer-wrapper {
            .burger {
                left: 15.97vw;
                display: block;
                grid-column: 2/2;
                grid-row: 1/1;
            }
            ul {
                display: none;
            }
            div {
                grid-column: 1/1;
                grid-row: 2/3;
            }
        }
    }
}

//Had to add this at the end but i had to 
.results-container {
    display: none;
}